.homePage {
    margin-top: 100px;
    justify-content: center;
}

.formDetail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    max-width: 770px;
    margin: 100px auto;
    padding: 0 20px;
}

.formDetailButton {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.memberNames {
    color: black; 
    text-decoration: none;
    overflow: hidden;
  }
  
  .memberNames:hover{
    text-decoration: underline;
  }

  .listCard {
    height: 445px; 
    overflow: hidden;
  }

  .overview {
    margin: 10px;
    max-width: 100%;
    overflow: auto;
  }

  .item-list {
    list-style-type: none; /* Odstrániť zarážky */
  }
  
  .item-list li:before {
    content: "-"; /* Nastaviť pomlčku pred každým prvkom */
    margin-right: 5px; /* Voliteľné: pridá medzeru medzi pomlčkou a textom */
  }